extends layout.pug
block main
    nav.navbar.sticky-top.navbar-dark.bg-dark.m-0
        .container-fluid
            a.navbar-brand(href='/')
                i.fas.fa-photo-film.pe-2
                | VB-Manager
            .d-flex
                form(action='/' method='post' enctype='multipart/form-data')
                    button.btn.btn-sm.btn-warning(type='submit' name='default')
                        i.fas.fa-image  
                        |  Default 
                a.btn.btn-sm.btn-success.mx-2(href='/player' target='_blank' rel='noopener noreferrer')
                    i.fas.fa-display  
                    |  Player
                form(action='/' method='post' enctype='multipart/form-data')
                    .input-group.input-group-sm
                        label.input-group-text(for='uploadFile') Upload
                        input#uploadFile.form-control(type='file' onchange='$("#modal_upload").modal("show"); this.form.submit()' name='file' accept='image/*,video/*')
    .container.my-2.shadow-lg
        .row.row-cols-4
            each val in files
                .card-group.col.px-1.py-2
                    form(action='/' method='post' enctype='multipart/form-data').card.text-center
                        img.card-img-top(src=val.thumb)
                        .card-body.p-2
                            p.m-0.p-0
                                i.fas.px-2(class='fa-' + val.type)  
                                |  #{val.mime}  
                                button.btn.btn-sm.btn-danger.ms-1(type='submit' name='delete' value=val.file)
                                    i.fas.fa-ban
                                br
                                |  #{val.file}
                        .card-footer 
                            .d-grid
                                button.btn.btn-success(type='submit' name='select' value=val.file) Play
    #modal_upload.modal(
        tabindex='-1',
        data-bs-backdrop='static',
        data-bs-keyboard='false')
        .modal-dialog
            .modal-content
                .modal-header
                    h5.modal-title Uploading...
                .modal-body
                    .d-flex.flex-row.justify-content-center
                        .spinner-border(style='width: 50px; height: 50px', role='status')
