doctype html
//Made by Will Hughes
head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='shortcut icon', type='image/x=icon', href='/favicon.ico')
    link(rel='stylesheet', href='css/style.css')
    title VB-Manager	
body
    block main
    script(src='/js/vendor.js')
    block script    
