extends layout.pug	
block main
    span#play(type=type file=file mime=mime)
    .container-fluid.p-0
        div#videoContainer
            video#videoPlayer.video-js.vjs-fluid(loop autoplay muted)
        div#imageContainer
            img#imagePlayer        
block script
    script(src='/js/player.js')
