html,
body {
	margin: 0;
	height: 100%;
}
.card {
    border: 2px solid rgba(0,0,0,.125);
}

#imageContainer {
	display: none;
}

#imagePlayer {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
}

#videoContainer {
	display: none;
}

#videoPlayer {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
}

