@use 'node_modules/@fontsource/lato/scss/mixins' as Lato;
@include Lato.fontFace(
	$weight: 400,
	$display: swap,
	$style: normal,
	$fontDir: '../webfonts'
);

$font-family-sans-serif: 'Lato', sans-serif !default;
$headings-font-family: 'Lato', sans-serif !default;
$font-family-base: $font-family-sans-serif !default;

$fa-font-path: '../webfonts' !default;

@import 'node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import 'node_modules/@fortawesome/fontawesome-free/scss/brands';
@import 'node_modules/@fortawesome/fontawesome-free/scss/solid';
@import 'node_modules/@fortawesome/fontawesome-free/scss/regular';
