$theme-colors: (
	'primary': #2d8cff,
	'secondary': #414141,
	'success': #27874c,
	'info': #ff5f0f,
	'warning': #747487,
	'danger': #e02828,
	'light': #f6f7f9,
	'dark': #0d2a4c
);

$enable-grid-classes: true;
$enable-gradients: true;
$enable-rounded: true;
